@import url('https://fonts.googleapis.com/css?family=Arimo|Bebas+Neue|Noto+Sans+JP|Noto+Sans+KR|Nunito|Public+Sans|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Solway|Sulphur+Point|Tomorrow|Ubuntu|Work+Sans&display=swap');

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

:root {

 /* Fonts */

 --roboto: 'Roboto', sans-serif;
 --solway: 'Solway', serif;
 --bebas-neue: 'Bebas Neue', cursive;
 --sulphur-point: 'Sulphur Point', sans-serif;
 --roboto-cond: 'Roboto Condensed', sans-serif;
 --raleway: 'Raleway', sans-serif;
 --roboto-mono: 'Roboto Mono', monospace;
 --public-sans: 'Public Sans', sans-serif;
 --nunito: 'Nunito', sans-serif;
 --noto-sans-jp: 'Noto Sans JP', sans-serif;
 --work-sans: 'Work Sans', sans-serif;
 --tomorrow: 'Tomorrow', sans-serif;
 --arimo: 'Arimo', sans-serif;
 --noto-sans-kr: 'Noto Sans KR', sans-serif;

 /* Coolors */

 --reg-green: #002400;
 --leather-green: #273B09;
 --antique-bronze: #58641D;
 --palm-leaf: #7B904B;
 --gainsboro: #DBD2E0;
 --white: #FFFFFF;
 --cambridge-blue: #9DB5B2;
 --azurish-white: #DAF0EE;
 --pearl-aqua: #94D1BE;
 --ras-pink: #E36397;
 --opera-mauve: #BC8DA7;
 --gray-x11: #BDB4BF;
 --gainsboro-2: #D9D9D9;
 --flash-white: #EFF2EF;
 --desert-sand: #DBD8AE;
 --antique-brass: #CA907E;
 --chestnut: #994636;
 --grizzly: #895B1E;
 --sky-blue: #88D9E6;
 --gray-blue: #8B8BAE;
 --stormcloud: #526760;
 --charcoal: #374B4A;
 --gunmetal: #2D3142;
 --silver: #BFC0C0;
 --red-ochre: #EF8354;
 --black-coral: #4F5D75;
 --cerulean: #2B59C3;
 --st-patrick: #253C78;
 --champion: #D36582;
 --khaki-css: #C9A690;
 --spanish-gray: #A2999E;
 --pastel-brown: #846A6A;
 --onyx: #353B3C;
 --cornflower: #AFCBFF;
 --maastricht: #0E1C36;
 --peach-puff: #F7D4BC;
 --siver-pink: #CFA5B4;
 --purple: #C98BB9;
 --chinese-violet: #846B8A;
}

/* Universal styles */

html {
 font-size: 10px;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

img {
 width: 100%;
 max-width: 100%;
 height: auto;
}

p {
 font-size: 1.6rem;
}

.btn {
 border-radius: 2rem;
 background-color: var(--stormcloud);
 color: var(--azurish-white);
 font-size: 1.2rem;
 text-transform: uppercase;
 display: inline-block;
 padding: 1rem 2rem;
 margin-top: 2rem;
 letter-spacing: .1rem;
 transition: 420ms ease;
}

.btn:hover {
 background-color: var(--gray-blue);
 color: var(--maastricht);
}

section {
 padding: 5rem 0;
}

body {
 background: var(--champion);
 font-family: var(--nunito);
}

/* Header */

header {
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}

.container {
 width: 100%;
 max-width: 98rem;
 padding: 0 1.5rem;
 margin: 0 auto;
}

.nav__brand {
 width: 3.5rem;
}

.menu__icons {
 font-size: 3.5rem;
 color: var(--gray-blue);
 cursor: pointer;
 transition: 420ms ease;
}

.menu__icons:hover {
 color: var(--maastricht);
}

nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
}

.nav__list {
 width: 25rem;
 height: 100vh;
 background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);
 position: fixed;
 top: 0;
 right: -26rem;
 opacity: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 transition: all 630ms ease-in-out, opacity 810ms ease;
 z-index: 1300;
}

.nav__list.active {
 right: 0;
 opacity: 1;
}

.close {
 position: absolute;
 top: 2rem;
 left: 2rem;
}

.nav__item {
 margin: 1.5rem 0;
}

.nav__link {
 font-size: 1.6rem;
 color: var(--azurish-white);
 text-transform: uppercase;
 transition: 420ms ease;
}

.nav__link {
 color: var(--gray-blue);
}

/* Hero */

#hero {
 width: 100%;
 height: 80vh;
 background: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%), url('../img/elephant.jpeg') center no-repeat;
 background-size: cover;
 position: relative;
}

.main__message {
 width: 100%;
 max-width: 50rem;
 color: var(--azurish-white);
 text-transform: uppercase;
 transform: translateY(20%);
}

.main__message h3 {
 font-size: 1.6rem;
}

.main__message h1 {
 font-family: var(--sulphur-point);
 font-size: 4rem;
 margin: 1.2rem 0;
}

.main__message p {
 font-size: 1.4rem;
 text-transform: lowercase;
}


/* Activities Grid */

#activities {
 padding: 0;
}

.title__heading {
 font-family: var(--work-sans);
 text-align: center;
 text-transform: uppercase;
 padding: 5rem 0;
 color: var(--azurish-white);
}

.title__heading h3 {
 font-size: 1.6rem;
}

.title__heading h1 {
 font-family: var(--raleway);
 font-size: 2rem;
 margin: 1rem 0;
}

.title__heading p {
 font-size: 1.4rem;
 text-transform: lowercase;
}

.activities__grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
 grid-gap: 2.5rem;
}

.activities__grid__item i {
 font-size: 4rem;
 color: var(--palm-leaf);
}

.activities__grid__item h1 {
 font-size: 2rem;
 margin: 1rem 0;
}

.activities__grid__item p {
 font-size: 1.6rem;
}

.activities__grid__item {
 height: 40rem;
 padding: 5rem;
 border-radius: 2rem;
 color: var(--azurish-white);
 display: flex;
 flex-direction: column;
 justify-content: center;
 position: relative;
 cursor: pointer;
 z-index: 1;
}

.activities__grid__item::before {
 content: "";
 border-radius: 2rem;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
 z-index: -1;
}

.star__gazing {
 background: url('../img/naboo.jpg') center no-repeat;
}

.hiking {
 background: url('../img/naboo.jpg') center no-repeat;
}

.camping {
 background: url('../img/naboo.jpg') center no-repeat;
}







@media screen and (min-width: 600px) {

 .nav__list {
  width: initial;
  height: initial;
  background: transparent;
  position: initial;
  top: initial;
  right: initial;
  opacity: initial;
  flex-direction: row;
  transition: initial;
 }

 .menu__icons {
  display: none;
 }

 .nav__link {
  color: var(--azurish-white);
  margin: 0 2rem;
  transition: 420ms ease;
 }

 .nav__link:hover {
  color: var(--gray-blue);
 }
}